.login-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  & img {
    width: 5rem;
    height: auto;
    position: relative;
    top:1rem;
    right: 6rem;
    z-index: 1;
    background: transparent;
  }

  & h1 {
    font-size: var(--font-size-xxl);
  }

  & .login {
    width: max-content;
    background-color: white;
    padding: 4rem;
    border: 4px solid #6c543e;
  }
}
